<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Hello, world!</h1>
        <h2>Bootstrap Page</h2>
        
        <div class="container">
                <div class="row">
                    <div class="col linked">
                        <a href="index.html">Picture Page</a>
                    </div>
                    <div class="col linked">
                        <a href="page2.html">Lists Page</a>
                    </div>
                    <div class="col linked">
                        <a href="page3.html">Table Page</a>
                    </div>
                    <div class="col linked">
                        <a href="page4.html">Paragraph Page</a>
                    </div>
                </div>
        </div>
        <div class="container">
            <p>
                BigchainDB is a blockchain database: it has both blockchain properties and database properties. That combination makes it useful for a wide variety of use cases, including supply chain, IP rights management, digital twins & IoT, identity, data governance and immutable audit trails. BigchainDB 2.0 includes significant improvements, including the integration of Tendermint for inter-node networking and Byzantine fault tolerant (BFT) consensus. BigchainDB 2.0 is now production-ready for many uses cases. For more information, see the BigchainDB website at bigchaindb.com.
            </p>
        </div>
    


    </body>
</html>
