{% extends "layout.html" %}
{% block heading %}
    Home Page
{% endblock %}

{% block subheading %}
    Get started by typing into the search box below to look for books to review or books that have been reviewed.
{% endblock %}
    
{% block body %} 
<div class="container">
    <div class ="row">
        <form action="{{ url_for('search') }}" method="post">
            <div class="form-group">
                <label for="searchBox">Book Search</label>
                <input type="text" class="form-control" id="bookSearch" aria-describedby="bookSearch" name="bookSearch" placeholder="Enter a book name, author, isbn or release year">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>

</div>
{% endblock %}