{% extends "layout.html" %}
            {% block heading %}
                Welcome
            {% endblock %}

            {% block subheading %}
                Click below to either sign up or login to Marho's book Reviews
            {% endblock %}
                
            {% block body %} 
            <div class="container">
                <div class ="row">
                    <div class="col-md text-center">
                        <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Sign Up</a>
                    </div>
                    <div class="col-md text-center">
                        <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Login</a>
                    </div>
                </div>       
            </div>
            {% endblock %}